/* generales  */

*{
    margin: 0;
    font-family: 'Mollen', sans-serif;
    font-weight: bold;
    color: white;
}

body{
    background: #090909
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

p{
    font-weight: 100;
    /* font-family: Helvetica, Arial, sans-serif; */
}

/* Barra navegacion */
.navbar{
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.navbar h1 {
    font-size: 1.3rem;
}

.navbar h2{
    font-size: 0.8rem;
    font-weight: 500;
}

.logo{
    fill: white;
    transition: ease 300ms;
}
.logo:hover{
    fill: #E6126C;
    transform: scale(1.1);
}

.nav-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
}

.nav-btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E6126C ;
    opacity: 0; 
    transition: 300ms; 
  }
  
  .nav-btn:hover::after {
    opacity: 1;
  }

header a{
    color: white;
    text-decoration: none;
}

/* Landing */

.landing {
    height: 100vh;
}

.hero-bg{
    background-image: url(/assets/img/background.jpg);
    background-color: rgb(60, 60, 60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.landing h3{
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-size: clamp(2rem, 5rem ,8rem);
    letter-spacing: 0.3rem;
}

.separador {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 300px;
    padding: 0;
    margin: 0;
    background: #E6126C;
}

/* Proyectos */

.projects {
    height: 100vh;
}

.icon > svg{
    transition: all 100ms ease-in;
}

.icon > svg:hover{
    fill: #000
}

.projects-img .image {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.projects-img img{
    width: 100%;
    transition: all 200ms ease;
}

.projects-img img:hover{
    filter: grayscale(90%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
}

.overlay img {
    width: 50%;
}

.image:hover .overlay {
  opacity: 1;
}

.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.footer {
    height: 300px;
    background: #FFF;
}